.unauthorized-container {
    background: radial-gradient(circle, #fdfdfd 0%, #f4f7fa 100%);
}

.fw-black { font-weight: 900; font-size: 4rem; color: #dc3545; }

.icon-box-unauthorized {
    width: 120px;
    height: 120px;
    background: #fff5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fee2e2;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
    transition: transform 0.2s ease;
}

.btn-primary:hover {
    transform: translateY(-3px);
}